.menu{
    width:500px;
    margin-left:200px;
    font-size:20;
    font-weight:bold;
    background:#E5E5E5;
}
.menu-title{
    float:left;
    display:inline-block;
}
.menu-price{
    float:right;
    display:inline-block;
}
.menu-template{
    border:2px solid black;
}