.menu-header{
    font-size:20;
    font-weight:bold;
}
.menu-title{
    float:left;
    display:inline-block;
}
.menu-price{
    float:right;
    display:inline-block;
}
.menu-template{
    /*border:2px solid black;*/
}
.pane{
    width: 600px;
    margin-top:20px;
    margin-left:200px;
    border:1px solid black;
    box-shadow: 2 2 2px;
    padding:20px;
    background:#E5E5E5;
}